.container {
    display        : flex;
    flex-direction : row;
    gap            : var(--offset-small);
    max-width      : 100%;
    overflow       : hidden;

    .extra {
        justify-content : center;
    }

    .todo {
        width      : 100%;
        height     : 100%;
        transition : var(--transition-fast);

        & > * {
            overflow-wrap : anywhere;
        }

        &:hover {
            cursor     : pointer;
            box-shadow : 0 0 15px 0 var(--color-blue-transparent);
        }
    }
}