.container {
    font-size   : 14px;
    line-height : 1.2em;

    &.invisible {
        font-size : 12px;
        color     : var(--text-color-invisible);
    }

    &.second {
        font-size : 12px;
        color     : var(--text-color-second);
    }

    &.main {
        font-size   : 14px;
        color       : var(--text-color-main);
        font-weight : bold;
    }

    &.danger {
        font-size   : 14px;
        color       : var(--color-red) !important;;
        text-shadow : 0 0 10px var(--color-red-transparent) !important;;
        font-weight : bold;
    }

    &.primary {
        font-size   : 14px;
        color       : var(--color-gold) !important;
        text-shadow : 0 0 10px var(--color-gold-transparent) !important;;
        font-weight : bold;
    }

    &.lines {
        display            : -webkit-box;
        -webkit-box-orient : vertical;
        text-overflow      : ellipsis;
        overflow           : hidden;
    }
}