.container {
    display         : flex;
    flex-direction  : row;
    gap             : var(--offset-small);
    align-items     : center;
    justify-content : space-between;

    .content {
        display     : flex;
        gap         : var(--offset-small);
        align-items : center;
        position    : relative;
    }
}