$footer_height  : 40px;
$content_offset : var(--offset-small);

.container {
    display         : flex;
    flex-direction  : column;
    justify-content : space-between;
    align-items     : center;
    min-height      : calc(100dvh - $content_offset * 2);
    margin          : $content_offset;
    gap             : var(--offset-medium);

    .content {
        .header {
            display         : flex;
            flex-direction  : row;
            justify-content : space-between;
            align-items     : center;
        }
    }

    .footer {
        flex-direction  : row;
        justify-content : space-between;
        align-items     : center;
        height          : $footer_height;
        max-height      : $footer_height;
        background      : var(--background-item);
    }

    .content_width {
        width     : 100%;
        max-width : var(--page-max-width);
    }
}