@import "styles/palette.scss";
@import "styles/offset.scss";
@import "styles/animations.scss";
@import "styles/sizes.scss";
@import "styles/transition.scss";

* {
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
    font-family : "Lunasima", serif;
    line-height : 1.2em;
}